.RollDice {
    display: flex;
    justify-content: center;
    margin: 55px;
}

.RollDice-Btn {
    display: flex;
    justify-content: center;
}

.RollDice-Btn-Primary {
    width: 15rem;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    margin-top: 3rem;
}